
<footer>
    <div>
        <!-- Added ../ same issue as the header, as TA-->
        <img src="/images/Copyright.png" alt="Copyright Logo">
        <p>Johnson's Movie Rentals</p>
        <section>
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </section>
    </div>
    
</footer>
</body>
</html>