<%- include('partials/header.ejs')%>
    <main>
        <article class = "container">
            <div class = box>
                <img src="images/background.jpg" alt="">
                <h2 class="overlay-text">Johnson's DVD, VHS, and Lazer Disk Rentals</h2>
                <p class="overlay-text-bottom">A family run bussiness dedicated to getting you the best quality pre-owned movie rentals.</p>
            </div>
            <div class = box>
                <img src="images/vhs.jpg" alt="">
            </div>
            <div class = box>
                <img src="images/lazerdisk.jpg" alt="">
            </div>
        </article>
    </main>
<%- include('partials/footer.ejs')%>