<%- include('../partials/header.ejs')%>
    <main>
        <form method='POST' action='/items' enctype="multipart/form-data">
            <section class = "explanation">
                <h2>Sell Your Movies Here</h2>
                <p>Johnson's Movie Rentals is the worlds first family run fully digital market place for movie rentals</p>
            </section>
            <section class="sell">
                <label for="condition">Condition</label> 
                    <select name="condition" id="condition" name = "condition" required> 
                        <!-- <option disabled selected value> -- select an option -- </option> -->
                        <option disabled selected value> -- select an option -- </option>
                        <option value="New">New</option> 
                        <option value="Mint">Mint</option> 
                        <option value="Used">Used</option> 
                        <option value="Fine">Fine</option>
                        <option value="Poor">Poor</option>
                    </select>
                <!-- title -->
                <div>
                    <label for="title">Title</label>
                    <input type="text" placeholder=" Please enter title" id="title" name="title" required maxlength="17">
                </div>
                <!-- seller -->
                <!-- <div>
                    <label for="seller">Seller</label>
                    <input type="text" placeholder=" Please enter seller" id="seller" name="seller" required>
                </div> -->
                <!-- price -->
                <div>
                    <label for="price">Price</label>
                    <input type="number" step="0.01" placeholder=" Please enter price" id="price" name="price" required>
                </div>
                <!-- format -->
                <label for="format">Format</label> 
                    <select name="medium" id="format" required> 
                        <!-- <option disabled selected value> -- select an option -- </option> -->
                        <option disabled selected value> -- select an option -- </option>
                        <option value="DVD">DVD</option> 
                        <option value="VHS">VHS</option> 
                        <option value="Lazer-Disk">Lazer-Disk</option> 
                    </select>
                <!-- details -->
                <div class = "span">
                    <label for="message">Details</label>
                    <textarea id="message" placeholder=" Please enter details" name="details" cols="20" rows="2" required minlength="10" maxlength="64"></textarea>
                </div>
                <!-- image -->
                <div>
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" required>
                </div>
                <!-- submit btn -->
                <input type="submit" value="Submit" class="submit">
            </section>
        </form>
    </main>
<%- include('../partials/footer.ejs')%>